body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 130px;
    margin-bottom: 60px;
    border-radius: 20px;
    color: white;
    background-color: lightslategrey;
}

.title1{
    /* font-size: 20px; */
    color: black;
}
.title2{
    /* font-size: 18px; */
    letter-spacing: 1px;
    margin: 3px;
    margin-left: 6.5px;
    margin-right: 6.5px;
}

.box-search{
    margin-bottom: 50px;
}

.box-icon-search{
    position: relative;
    top: 21px;
    left: 11px;
    width: 5px;
    height: 5px;
}

.icon-search{
    font-size: 16px;
    color: rgba(0, 61, 122, 0.712);
}

.search{
    width: 400px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    font-size: 17px;
    outline: none;
}

.box-countrys{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.country{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: auto;
    margin: 50px;
    border-radius: 10px;
    border: solid 3px lightslategrey;
    background-color: rgba(192, 222, 231, 0.288);
    box-shadow: -20px -20px 7px rgba(119, 136, 153, 0.692);
}

.country-flag{
    width: 280px;
    height: 157.5px;
    margin: 10px;
    border-radius: 10px;
}

.country-name{
    margin-top: 5px;
    margin-bottom: 13px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.abouts{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 11px;
}

.n{
    font-weight: bold;
}

.about{
    margin: 7px;
    font-size: 15px;
}

.nota{
    font-size: 16px;
}

.footer{
    position: relative;
    bottom: -30px;
    width: 100%;
    /* height: 300px; */
    margin-top: 110px;
    padding: 30px;
    background-color: rgb(23, 18, 39);
}

.footer-about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.description-footer-about{
    width: 80%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 8px;
    color: white;
}

.emcahell-social-networks{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.me{
    font-size: 0.813rem;
    border-radius: 40%;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 70px;
    margin-bottom: 25px;
    border-radius: 40%;
    /* font-size: 7px; para dispositivis moviles*/
    color: antiquewhite;
    border-top: solid 1px lightseagreen;
}

.icon-social-networks{
    font-size: 27px;
    margin: 10px;
}

.rs{
    margin: 5px;
    text-decoration: none;
    color: white;
}

.nota{
    border-radius: 20px;
    padding: 20px;
    background: lavender;
}